@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


  <section class="about-company">
        <div class="section-about-company container">
          <div class="about-company-img">
            <img src="images/daria-pimkina-tYaccl19A3Q-unsplash.jpg" alt="About company" />
            <div class="img-info">
              <h3>Our Mission</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam officiis quas assumenda esse
                obcaecati? Ex esse error voluptates iure vel totam eos.
              </p>
            </div>
          </div>
          <div class="about-company-info">
            <h4>About Company</h4>
            <h2>We are a business consulting & credit repair experts</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam officiis quas assumenda esse obcaecati?
              Ex esse error voluptates iure vel totam eos.<br /><br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis esse quasi incidunt adipisci accusantium
              libero provident voluptate amet.
            </p>
            <div class="about-and-intro">
              <a href="/services"><button class="arrowhead">Learn More</button></a>
              <a href="#"> <i class="fa-regular fa-circle-play"></i> Intro Video </a>
            </div>
          </div>
        </div>
      </section>