@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


 <section class="signup-letter">
        <div class="section-signup-letter container">
          <div class="signup-letter-content">
            <h2>Get news updated by signup</h2>
            <div>
              <input type="text" placeholder="username@domain.com" />
              <button class="arrowhead">Subscribe</button>
            </div>
          </div>
        </div>
</section>