@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="@Model.Value("pageDescription")">
    <meta name="keywords" content="@Model.Value("pageKeywords")">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/09abedabe6.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <title>@Model.Value("pageTitle")</title>
  </head>
  <body>
      <header>
          @await Html.PartialAsync("_NavigationSection")
          @await Html.PartialAsync("_ShowcasePartial")
      </header>
     
     <main>
          @RenderBody()
     </main>
      
      @await Html.PartialAsync("_FooterPartial")
    </body>
</html>