@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

@{
    var content = (ContentModels.OurServices)Model.Content;
}


 <a href="@content.Value("ourServiceLink")">
  <h3>@content.Value("ourServiceTitle")</h3>
  <p>@content.Value("ourServiceDescription")</p>
  <button><i class="fa-solid fa-circle-arrow-right"></i></button>
</a>